h1 {
    font-weight: bold;
}

#into {
    font-size: x-large;
    font-style: italic;
}



 p {
    color: white;
    font-family: 'Erica One', cursive;
font-family: 'Shadows Into Light', cursive;
}

body {
    background-color: midnightblue;
}

