
h1 {
    font-weight: bold;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: xxx-large;
}

 #intro {
    color: white;
    font-family: 'Erica One', cursive;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(57, 32, 0);
    border-radius: 15px;
    border: solid 3px darkorange;
    padding: 10px;
    margin: 5%;
    font-size: large;
}

body {
    background-color: rgb(45, 0, 85);
}

#voicemail {
    color: white;
    font-family: 'Erica One', cursive;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(0, 0, 55);
    border: solid 3px cyan;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    font-size: large;
}

#voice {
    color: white;
    font-family: 'Erica One', cursive;
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
    border: solid 3px white;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: large;
}